{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    <h1> Mitt galleri</h1>
        <div class="gallery">
            {{ content }}
        </div>
    </div>
    <div class="embed-container">
    <iframe src="https://www.youtube.com/embed/669lhC-6yHo?si=iRkiXl0k3KvysFIr" title="All potential"  frameborder="0" allowfullscreen></iframe>
    </div>

    
    {% include 'incl/footer.twig' %}
</body>

</html>
